[Desktop Entry]
Type=Application
Name=Antsy Alien Attack Pico
GenericName=Shoot em up Game
Comment=Local 2 player shooter
Exec=antsy-alien-attack-pico -windowed 0 -screenshot_scale 3 -gif_scale 3 -gif_len 120
Icon=antsy-alien-attack-pico
Categories=Game;ArcadeGame;
Keywords=game;multiplayer;
